Source: comcom64
Section: contrib/otherosfs
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends:
    make,
    pkgconf,
    djstub,
    dj64-dev,
    autoconf,
    flex,
    bison,
    gcc,
    git,
    grep,
    debhelper (>= 9~)
Homepage: https://github.com/dosemu2/comcom64

Package: comcom64
Architecture: amd64
Depends:
Description: 64-bit command.com
 comcom64 is a 64-bit command.com.
