Source: comcom64
Section: contrib/otherosfs
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends:
    make,
    pkgconf,
    thunk-gen,
    djstub,
    dj64-dev,
    dj32-dev,
    git,
    grep,
    debhelper (>= 9~)
Homepage: https://github.com/dosemu2/comcom64

Package: comcom64
Architecture: any
# Note: ${shlibs:Depends} doesn't work as there are no elf binaries in package
Depends: ${misc:Depends}, dj64
Description: 64bit command.com
 64bit command.com to be used primarily under dosemu2.

Package: comcom32
Architecture: any
Depends: ${misc:Depends}
Description: 32bit command.com
 32bit command.com to be used under DOS (bare-metal or under an emulator).
